<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
      [attr.role]="isMobile ? 'dialog' : 'navigation'"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile === false">
    <mat-toolbar>Workouts</mat-toolbar>
    <mat-nav-list>
      <a (click)="closeIfMobile(sidenav)" mat-list-item routerLink="/add-workout">Add Workout</a>
      <a (click)="closeIfMobile(sidenav)" mat-list-item routerLink="/add-exercise">Add Exercise</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isMobile">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Performance Tracker</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
